@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mini Car Sales<br />
    Richmond, VIC 3121<br />
    <abbr title="Phone">P:</abbr>
    (03) 0000 0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@minicarsales.com">Support@minicarsales.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@minicarsales.com">Marketing@minicarsales.com</a>
</address>