@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mini Car Sales</h1>
    <p class="lead">Browse into our collection of vehicles.</p>
    <p><a href="~/Vehicle/" class="btn btn-primary btn-lg">Browse now &raquo;</a></p>
</div>

      
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Choose from the list
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="~/Vehicle/Create">Create car</a>      
    </div>
</div>  